<html>
  
  <head>
    <title>The TH Potin a modifier</title>
  </head>
  
   <body>
    <h1>Potin à modifier</h1>
    <p>En avant !!!</p>
    <form action='/gossips/<%=params['id']%>/edit' method='POST'>
      Balance ton nouveau nom : <input type='text' name='gossip_author_new'/><br/>
      Balance ton nouveau potin : <input type='text' name='gossip_content_new'/><br/>
      <input type='submit'/>
    </form>
  </body>
  
</html>